/* All Pages Styling */
header {
    height: 40px;
    width: 100%;
    background-color: #40bf7d;
}

.logo {
    float: left;
    height: 40px;
    padding-left: 5px;
}

body {
    margin: 0;
    background-color: #EAEBEF;
}

#main {
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 5px;
    background-color: white;
}

.headerBtn {
    float: right;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 10px;
    margin-top: 10px;
}

